* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive;
}

body{
    background-color: burlywood;
}

.main {
    margin-top: 0px;
    margin-left: auto;

    position: relative;
    overflow: hidden;
    width: 254px;
    height: 504px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 4px solid black;

}

.tetris {
    width: 254px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-color: grey;
    flex-wrap: wrap;
    display: flex;
}

.cell, .nextCell{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 1px dotted black;
    padding: 0;
    background-color: #cccccc;
}

.figure, .set{
    border: 5px double grey;
    background-color:black;
}

.name{
    display: block;
    margin: 0px 0px;
    padding: 0px;
    font-size: 30px;
    resize: unset;
    width: 200px;
    height: 45px;
    background-color: burlywood;
    border: 0;
}

.controls{
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.player{
    padding: 20px;
    position: absolute;
    left: 0;
}

.welcome{
    background: black;
    color: burlywood;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

.next{
    width: 75px;
    height: 100px;
    position: absolute;
    bottom: 0;
    top: 0px;
    margin-left: auto;
    right: auto;
    border-color: grey;
    flex-wrap: wrap;
    display: flex;
}

.center{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 329px;
    height: 504px;
}