* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

#name{
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
}

body{
    background-color: black;
    color: white;
}

.main {
    margin-top: 0px;
    margin-left: 102px;
    background-color: #cccccc;
    position: relative;
    width: 254px;
    height: 504px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 4px solid grey;

}

.info{
    font-size: 20px;
    resize: unset;
    width: 450px;
    height: 100px;
    background-color: black;
    color: white;
    border: 0;
}

.controls{
    padding: 10px;
    position: relative;
}

.player{
    padding: 30px 10px;
    position: absolute;
    left: 0;
}

.welcome{
    background: #000044;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

div.next{
    width: 102px;
    height: 104px;
    position: absolute;
    bottom: 0;
    top: 0px;
    margin-left: auto;
    right: auto;
    border: 2px solid grey;
    border-right: 0;
    flex-wrap: wrap;
    display: flex;
    background-color: #cccccc;
}

canvas.next{
    width: 100px;
    height: 100px;
}

.center{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 356px;
    height: 504px;
}

div.leaderboard{
    padding: 30px 10px;
    position: absolute;
    right: 0;
    top: 0;
}